.box
{
    background-image: url('10329847_757926457583525_5642274301077122458_o.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom center;
    background-color: black;
text-align:center;
 font-family: Times New Roman;
color:white;
    
}

